body{
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    background-color: #2D3E50;
    color: black;
    height: 10vh;
    width: 100vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    box-shadow: 0 0 20px white;
}

.main-screen{
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score{
    color: green;
    position: absolute;
    font-size: 20px;
    right: 15%;
    top: 20%;
    z-index: 10;
}

.cart-road{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

.cart{
    width: 10%;
    height: 60%;
    background-color: #9E9CFF;
    border-radius: 20px;
    position: relative;
}

.modal_btn{
    display: flex;
    align-self: flex-start;
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #2D3E50;
    color: white;
}

.modal{
    height: 100vh;
    width: 350px;
    background-color: #8C2FE3;
    color: white;
    position: absolute;
    left:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 300px;
    transform: translateX(-350px);
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 20px floralwhite;
    border-right: solid 2px #2D3E50;
}

.block-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 30%;
    align-self: center;
    position: relative;
    top: 10%;
}

.block{
    background-color: grey;
    width: 90%;
    border: solid 1px white;
    height: 20px;
    justify-self: center;
    box-shadow: 0 10px 15px black;
    display: inline-block;
}

.ball{
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
}

.close-modal-btn{
    background-color: #2D3E50;
    color:white;
}

@keyframes modalOpen{
    0%{
        transform: translateX(-350px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes modalClose{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-350px);
    }
}