body{
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/andromeda-galaxy-royalty-free-image-1585682435.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    color: black;
    height: 10vh;
    width: 100vw;
}

.main-screen{
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score{
    color: green;
    position: absolute;
    font-size: 25px;
    right: 50px;
    top: 10px;
}

.cart-road{
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
}

.cart{
    width: 10%;
    height: 60%;
    background-color: #9E9CFF;
    border-radius: 20px;
    position: relative;
}

.modal_btn{
    display: flex;
    align-self: flex-start;
    position: relative;
    top: 20px;
    left: 20px;
}

.modal{
    height: 100vh;
    width: 300px;
    background-color: cornsilk;
    color: black;
    position: absolute;
    left:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: 300px;
    transform: translateX(-300px);
}

.block-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 30%;
    align-self: center;
    position: relative;
    top: 10%;
}

.block{
    background-color: grey;
    width: 90%;
    border: solid 1px white;
    height: 20px;
    justify-self: center;
    box-shadow: 0 10px 15px black;
    display: inline-block;
}

.ball{
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
}

@keyframes modalOpen{
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes modalClose{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-300px);
    }
}